@model MVCAppln_1.ViewModel.EmployeeListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}
@section ContentBody
{
<div>
    @{
        Html.RenderAction("GetAddNewLink");
    }
    <table border="1">
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (MVCAppln_1.ViewModel.EmployeeViewModel item in Model.Employee)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td style="background-color:@item.SalaryColor">@item.Salary</td>
            </tr>
        }
    </table>
</div>

    }

